@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: transparent;
    box-sizing: border-box;
}
*::-webkit-scrollbar{
    background: transparent;
    width: 5px;
}

*::-webkit-scrollbar-thumb{
    background: #666666;
    border: 1px solid #DEDEDE;
    border-radius: 20px;
}

*::placeholder{
    color: #DEDEDE;
}